<%- include('../layouts/header') %> 

<h1 class="uk-heading-bullet text-danger uk-text-center">EDIT BOOKS</h1>

<form action="/book/edit/<%= book.id %>?_method=PUT" method="POST" class="uk-form-stacked mt-5">

    <%- include('../partials/messages') %>
    <%- include('../partials/add-edit-form') %>
    <button type="submit" class="uk-button uk-button-primary uk-align-center">EDIT</button>

</form>

<%- include('../layouts/footer') %> 
