<%- include('../layouts/header') %> 

<div class="uk-margin-remove">
    <div class="row">
    <% grabbedBook.forEach(book => { %>
        <div class="col-lg-4 col-md-6 col-12 uk-margin-small-top">
            <div class="row">
                <div class="col-6">
                    <img src="/images/book1.jpg" alt="">
                </div>
                <div class="col-6">
                    <div class="h2 uk-text-success text-capitalize uk-heading-bullet">
                        <%= book.bookName %> 
                    </div>
                    <div class="text-muted small">
                        <%= book.createdAt.toLocaleDateString() %> 
                    </div>
                    <div class="text-white">
                        Genre:
                        <%= book.bookGenre %> 
                    </div>
                    <div class="text-white text-capitalize">
                        Author:
                        <%= book.authorName %> 
                    </div> 
                    <div class="text-white text-capitalize">
                        Language:
                        <%= book.bookGenre %> 
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/book/read/<%= book.id %>" class="uk-button btn-success uk-margin-small-top uk-inline" uk-tooltip="title: Read; pos: bottom"><span uk-icon="icon: file"></span></a>
            </div>
        </div>
        </div>
    <% }) %>
    </div>
</div>

<%- include('../layouts/footer') %> 
