<%- include('../layouts/header') %> 

<h1 class="uk-text-center uk-heading-bullet"><span class="text-danger">PUBLISHED</span></h1>

<div class="uk-margin-medium-top">
    <%- include('../partials/messages') %>
    <div class="row">
        <% publishedBook.forEach(book => { %> 
    
            <div class="col-md-6 col-12 mt-3">
                <div class="uk-card uk-card-secondary uk-card-body p-3 hvr-grow">
                <div class="row">
                    <div class="col-md-4 col-5 uk-padding-remove">
                        <a href="/book/read/<%= book.id %>">
                            <img class="cover uk-align-right" src="/images/book1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-8 col-7">
                        <div>
                            <span class="h4 text-white text-capitalize uk-heading-bullet">
                            <a class="text-decoration-none" href="/book/read/<%= book.id %>">
                                <%= book.bookName %> 
                            </a>
                            </span>
                            <span class="small">
                                by
                                <%= book.authorName %>
                            </span>
                        </div>
                        <div class="text-muted small">
                            <%= book.createdAt.toLocaleDateString() %> 
                        </div>
                        <div class="text-secondary overfloww mt-2">
                            <%= book.bookDescription %> 
                        </div>
                        <div class="">
                            <a class="text-light small" href="/book/view/<%= book.id %> ">read more</a>
                        </div>
                        <div class="text-white bg-info uk-badge mt-2">
                            <%= book.bookGenre %> 
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/book/edit/<%= book.id %>" class="uk-button btn-info uk-margin-small-top uk-inline" uk-tooltip="title: Edit; pos: bottom"><span uk-icon="icon: file-edit"></span></a>
                    <form action="/book/<%= book.id %>?_method=DELETE" method="POST" class=" uk-margin-small-top uk-inline">
                        <button type="submit" class="uk-button btn-danger" uk-tooltip="title: Delete; pos: bottom"><span uk-icon="icon: trash"></span></button>
                    </form>
                </div>
            </div>
        </div>
        
        <% }) %>
    </div>
</div>

<%- include('../layouts/footer') %> 
