<%- include('./layouts/header') %> 

<div class="uk-margin-remove uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div class="uk-align-center">
        <div class="h1 text-warning">
            Welcome to Tell-Tales   
        </div>
        <div class="h3 text-warning">
            Tell us your Tales
        </div>
        <div class="">
            <a href="/" class="uk-button uk-button-danger uk-margin">Start Reading</a>
        </div>
        <div class="">
            <a href="/book/add" class="uk-button uk-button-primary uk-margin">Start Writing</a>
        </div>
        <div class="text-white">
            <span uk-icon="icon: quote-right; ratio: 2"></span>
            In the case of good books, the point is not to see how many of them you can get through, but rather how many can get through to you.
        </div>
    </div>
    <div class="">
        <img src="/images/read3-1.png" alt="">
    </div>
</div>

<section id="latest">

    <h3 class="uk-heading-bullet uk-text-center mt-5"><span class="uk-text-danger">LATEST</span></h3>

    <div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2 mt-5" uk-grid>
        <%  book = book %>      
        <%- include('./partials/index-partial') %>  
    </div>

    <div class="mt-3"><a href="/book/latest" class="text-info h4">see more</a></div>

</section>

<section id="Action">

    <h3 class="uk-heading-bullet mt-5 uk-text-center"><span class="uk-text-danger">ACTION</span></h3>

    <div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2 mt-5" uk-grid>
        <%  book = action %>      
        <%- include('./partials/index-partial') %>  
    </div>

    <div class="mt-3"><a href="/book/action" class="text-info h4">see more</a></div>

</section>

<section id="Fiction">

    <h3 class="uk-heading-bullet mt-5 uk-text-center"><span class="uk-text-danger">FICTION</span></h3>
    
    <div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2 mt-5" uk-grid>
        <%  book = fiction %>      
        <%- include('./partials/index-partial') %> 
    </div>

    <div class="mt-3"><a href="/book/fiction" class="text-info h4">see more</a></div>

</section>

<section id="Horror">

    <h3 class="uk-heading-bullet mt-5"><span class="uk-text-danger">HORROR</span></h3>

    <div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2 mt-5" uk-grid>
        <%  book = horror %>      
        <%- include('./partials/index-partial') %> 
    </div>

    <div class="mt-3"><a href="/book/horror" class="text-info h4">see more</a></div>

</section>

<section id="Seft Motivation">

    <h3 class="uk-heading-bullet mt-5 uk-text-center"><span class="uk-text-danger">SELF MOTIVATION</span></h3>

    <div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2 mt-5" uk-grid>
        <%  book = self_motivation %>      
        <%- include('./partials/index-partial') %>  
    </div>

    <div class="mt-3"><a href="/book/self-motivation" class="text-info h4">see more</a></div>

</section>

<%- include('./layouts/footer') %> 
