<%- include('./layouts/header') %> 
<div class="uk-child-width-1-6@m uk-child-width-1-4@s uk-child-width-1-2" uk-grid>
    <% book.forEach(book => { %> 
    <div>
        <div>
            <a href="/book/view/<%= book.id %>">
                <div>
                    <img src="/images/book1.jpg" alt="">
                </div>
            </a>
            <div class="h4 mt-2 text-white ">
                <%= book.bookName %> 
            </div>
            <div class="small text-muted">
                <%= book.createdAt.toLocaleDateString() %> 
            </div>
            <div>
                <%= book.authorName %> 
            </div>
        </div>
    </div>
    <% }) %> 
</div>

<%- include('./layouts/footer') %> 
