<%- include('./layouts/header') %> 

<%- include('./partials/messages') %>

<form action="/user/login" method="POST" class="uk-align-center uk-container uk-form-stacked">

    <div class="uk-margin">
        <label for="email" class="uk-form-label uk-text-muted">E-mail</label> 
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input class="uk-input" type="text" name="email" placeholder="Enter E-mail" value="<%= typeof email != 'undefined' ? email : '' %>">
        </div>
    </div>

    <div class="uk-margin">
        <label for="email" class="uk-form-label uk-text-muted">Password</label>
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password1" placeholder="Enter Password" value="<%= typeof password1 != 'undefined' ? password1 : '' %>">
        </div>
    </div> 

    <button type="submit" class="btn btn-success">LogIN</button>
</form>

<%- include('./layouts/footer') %> 
